.movie-details-container {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
    "banner"
    "info"
    "media";
  grid-template-rows: repeat(3, auto);
}

.title-and-tagline {
  align-self: self-end;
  margin: 0px 40px;
}

.title-and-tagline > h3 {
  font-size: 5rem;
  margin: 0;
}

.title-and-tagline > p {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
  padding-left: 1rem;
}

.backdrop {
  position: relative;
  grid-area: banner;
  display: flex;
  align-items: flex-end;
}

.backdrop > img {
  opacity: 60%;
  height: auto;
  width: 100%;
}

.movie-text-content {
  grid-area: info;
  display: flex;
  justify-content: space-around;
  margin: 5% 10%;
  font-size: 1.5rem;
}

.side-info {
  width: 30%;
  padding: 2em 0;
}

.overview {
  width: 60%;
  font-size: 1.5rem;
  background-color: rgb(50, 50, 50);
  padding: 1.5em;
  border-radius: 20px;
}

.poster-and-title-container {
  position: absolute;
  display: flex;
  bottom: -60px;
  left: 10%;
  height: 60%;
}

.poster {
  height: 100%;
  box-shadow: 0 0 30px 0px black;
}

.media {
  grid-area: media;
  justify-self: center;
  margin: 0 0 100px;
}