.App {
  box-sizing: border-box;
  padding: 0 30px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
}

h1 {
  font-size: 120px;
  letter-spacing: 0.03em;
  margin: 1.8rem 0;
}

.nav {
  text-decoration: none;
  margin: 10px;
  border: none;
  border-radius: 7px;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: 500;
  padding: 8px 24px;
}

.nav-hover {
  cursor: pointer;
}

footer {
  height: 200px;
}