.movie-card {
  border: solid 1px white;
  display: flex;
  justify-content: center;
  /* width: ; */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgb(164, 164, 164);
  transition: transform 200ms ease-in;
  opacity: 92%;
}

.card {
  text-decoration: none;
  color: white;
}

.movie-card > img {
  height: 320px;
  width: auto;
}

.movie-card:hover {
  transform: scale(1.01);
  opacity: 100%;
}

/* .movie-card > h3,
.movie-card > p {
  text-decoration: none;
} */
